<section class="book-session">
  <form class="book-session__form" action="/book_session" method="post">
    <label for="sessionDate" class="book-session__form__labels">Time:<input type="date" name="date" id="sessionDate" class="book-session__form__inputs"> </label>
    <label for="sessionTime" class="book-session__form__labels">Date:<input type="time" name="time" id="sessionTime" class="book-session__form__inputs"></label>
    <label for="sessionVenue" class="book-session__form__labels">Venue:<input type="text" name="venue" id="sessionVenue" class="book-session__form__inputs"> </label>
    <label for="sessionComment" class="book-session__form__labels">Other comment:<textarea name="comment" rows="8" cols="80" id="sessionSubmit" class="book-session__form__textarea"></textarea> </label>
    <label for="sessionSubmit" class="book-session__form__labels"> <input type="submit" id="sessionSubmit" class="book-session__form__inputs" value="Book"> </label>
  </form>
</section>
