<header class="reference-check__header">
  <h1 class="reference-check__header__title"> Tutor Tutee Connect </h1>
  <h3 class="reference-check__sub-header"> Reference form</h3>
</header>
<section class="reference__form-container">
  <form class="reference__form" action="/reference_form" method="post">
    <label for="refereeHow" class="reference__form__labels">How do you know the tutor<input type="text" name="referee_how" class="reference__form__inputs" id="refereeHow"></label>
    <label for="refereeTutoringFit" class="reference__form__labels">How able do you think the person will be to tutor? <textarea name="referee_tutoring_fit" rows="8" cols="80" class="reference__form__textarea" id="refereeTutoringFit"></textarea></label>
    <label for="refereeComments" class="reference__form__labels">Please add comments on the person that would support their application <textarea name="referee_comments" rows="8" cols="80" class="reference__form__textarea" id="refereeComments"></textarea></label>
    <label for="referenceSubmit" class="reference__form__labels"><input type="submit" value="Confirm emails" class="reference__form__inputs" id="referenceSubmit"> </label>
  </form>
</section>
