<section class="about" id="aboutSection">
  <div class="about__container">
    <p class="about__info">Tutor: A private teacher, typically one who teaches a single pupil or a very small group.</p>
    <p class="about__info">Tutee: A student or pupil of a tutor.</p>
    <p class="about__info">Tutor Tutee Connect is a free web platform with simple but necessary features that allows tutors and tutees to connect. Our aim is to make the process of finding a tutor be less time consuming and more tailored to you.</p>
    <p class="about__info">Our tutors offer private tuition in a wide range of academic subjects including those on the school curriculum, plus niche subjects too.</p>
    <p class="about__info">As a tutee, the extra focus and tailored attention of specialised one-to-one private tuition can be the decisive factor that will make the difference to successful learning and good exam grades.</p>
    <p>As tutor, join Tutor Tutee Connect and start receiving tutoring requests. Tutees come to you!</p>
  </div>
</section>
