<section class="how" id="howSection">
  <div class="">
    <div class="how__container">
      <div class="how__join">
        <h3 class="how__join__title">Join</h3>
          <p class="how__join__tutor-info"> You can register as a tutor if you want to teach. Please leave atleast 15mins to complete the registeration form with as much detail as you can.</p>
        <p class="how__join__tutee-info">You can register as a learner(tutee) if you are looking for a private tutor. This will take you less that 5minutes</p>
      </div>
      <div class="how__connect">
        <h3 class="how__connect__title">Connect</h3>
        <p class="how__connect__tutor-info">If you are as a registered a tutor, you will only be able to browse through tutees looking for a tutor in their chosen subject.</p>
        <p class="how__connect__tutee-info">If you are a tutee, same thing happens in reverse.</p>
      </div>
      <div class="how__book">
        <h3 class="how__book__title">Book</h3>
        <p class="how__book__tutor-info">Tutors can express an interest to tutor a student and student can choose to book a session with them if they want.</p>
        <p class="how__book__tutee-info"> Tutees can book sessions and tutors will be notified of any booking with the option of accepting or declining. </p>
      </div>
    </div>
    <div class="how__fees">
      <p class="how__fees__info"> Our platform is free to use for both tutors and tutees. Tutor's rate varies and it is up to each tutor to set their price. Generally prices are dependant on subject, hours taught, location and year group. We currently do not have a payment option within the platform, all payment methods are agreed upon with the tutors. </p>
    </div>
  </div>

</section>
