<section class="join" id="joinSection">
  <div class="join__container">
    <h3 class="join__heading"> Sounds good? </h3>
    <div class="join__anchor-tags">
      <a href="/register_tutor_page" class="join__tutor">Register as a tutor</a>
      <a href="/register_tutee_page" class="join__tutee">Register as a tutee</a>
      <a href="/login_page" class="join__login">Log in</a>
    </div>
  </div>
</section>
