<nav class="navbar">
  <ul class="navbar__container">
    <li class="navbar__list"> <a class="navbar__links" href="#homeSection">TTC</a> </li>
    <li class="navbar__list"> <a class="navbar__links" href="#homeSection">HOME</a></li>
    <li class="navbar__list"> <a class="navbar__links" href="#aboutSection">ABOUT</a></li>
    <li class="navbar__list"> <a class="navbar__links" href="#howSection">HOW</a></li>
    <li class="navbar__list"> <a class="navbar__links" href="#joinSection">JOIN</a></li>
    <li class="navbar__list"> <a class="navbar__links" href="#contactSection">CONTACT</a> </li>
  </ul>
</nav>
