<nav class="pages-nav">
  <ul class="pages-nav__container">
    <li class="pages-nav__lists"><a href="https://github.com/Gbaja" class="pages-nav__links">TTC</a></li>
    <li class="pages-nav__lists"><a href="/" class="pages-nav__links">Home</a></li>
  </ul>
</nav>
