<header class="heading" class="homeSection">
  <h1 class="heading__title">Tutor Tutee Connect </h1>
  <img src="assets/logo.png" alt="logo" class="heading__logo">
  <p class="heading__quote"> “An investment in knowledge pays the best interest.”</p>
  <p class="heading__quote"> — Benjamin Franklin</p>
</header>
